@page
@model ProEShop.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "داشبورد";
}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-1 g-md-2">
    <div class="col">
        <div class="card text-white bg-primary mb-3 border-0 shadow">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">15,482</h5>
                    <i class="bi bi-graph-up"></i>
                </div>
                <p class="card-text">تعداد بازدید روزانه</p>
            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-success mb-3 border-0 shadow">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">15,482</h5>
                                    <i class="bi bi-graph-up"></i>
                                </div>
                                <p class="card-text">تعداد بازدید روزانه</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-info mb-3 border-0 shadow">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">15,482</h5>
                                    <i class="bi bi-graph-up"></i>
                                </div>
                                <p class="card-text">تعداد بازدید روزانه</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-dark mb-3 border-0 shadow">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">15,482</h5>
                                    <i class="bi bi-graph-up"></i>
                                </div>
                                <p class="card-text">تعداد بازدید روزانه</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------------------- Card groupd End ----------------------->
                <div class="card text-dark bg-white my-3 border-0 shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">آمار بازدید وبسایت</h5>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-secondary">روز</button>
                                <button type="button" class="btn btn-outline-secondary">ماه</button>
                                <button type="button" class="btn btn-outline-secondary">سال</button>
                            </div>
                            <button data-bs-toggle="tooltip" type="button" class="btn btn-info" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="گرفتن خروجی">
                                <i class="text-white bi bi-file-earmark-spreadsheet-fill"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-md col-12 col-sm-6 my-3 my-lg-0">
                                <strong class="text-muted">
                                    بازدید کل
                                </strong>
                                <p class="my-3">
                                    ۳۲,۳۴۴
                                    کاربر
                                </p>
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"></div>
                                </div>
                            </div>
                            <div class="col-md col-12 col-sm-6 my-3 my-lg-0">
                                <strong class="text-muted">
                                    بازدید کل
                                </strong>
                                <p class="my-3">
                                    ۳۲,۳۴۴
                                    کاربر
                                </p>
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"></div>
                                </div>
                            </div>
                            <div class="col-md col-12 col-sm-6 my-3 my-lg-0">
                                <strong class="text-muted">
                                    بازدید کل
                                </strong>
                                <p class="my-3">
                                    ۳۲,۳۴۴
                                    کاربر
                                </p>
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"></div>
                                </div>
                            </div>
                            <div class="col-md col-12 col-sm-6 my-3 my-lg-0">
                                <strong class="text-muted">
                                    بازدید کل
                                </strong>
                                <p class="my-3">
                                    ۳۲,۳۴۴
                                    کاربر
                                </p>
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"></div>
                                </div>
                            </div>
                            <div class="col-md col-12 col-sm-6 my-3 my-lg-0">
                                <strong class="text-muted">
                                    بازدید کل
                                </strong>
                                <p class="my-3">
                                    ۳۲,۳۴۴
                                    کاربر
                                </p>
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"></div>
                                </div>
                            </div>
                            <div class="col-md col-12 col-sm-6 my-3 my-lg-0">
                                <strong class="text-muted">
                                    بازدید کل
                                </strong>
                                <p class="my-3">
                                    ۳۲,۳۴۴
                                    کاربر
                                </p>
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------------------- Statistics ----------------------->
                <div class="card text-dark bg-white my-3 border-0 shadow">
                    <div class="card-body">
                        <h5 class="card-title">گزارشات فروش</h5>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">شماره سفارش</th>
                                        <th scope="col">ایمیل کاربر</th>
                                        <th scope="col">درگاه</th>
                                        <th scope="col">وضعیت</th>
                                        <th scope="col">تاریخ تراکنش</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>۴۵۳۲۲</th>
                                        <td>pshariiati@gmail.com</td>
                                        <td>به پرداخت ملت</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-success" type="button">پرداخت شده</button>
                                              </div>
                                        </td>
                                        <td>۲۲ آذر ۱۴۰۰</td>
                                    </tr>
                                    <tr>
                                        <th>۵۶۴۴۴</th>
                                        <td>milad@gmail.com</td>
                                        <td>به پرداخت ملت</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-success" type="button">پرداخت شده</button>
                                              </div>
                                        </td>
                                        <td>۲۲ آذر ۱۴۰۰</td>
                                    </tr>
                                    <tr>
                                        <th>۴۵۲۳۴</th>
                                        <td>ali@gmail.com</td>
                                        <td>زرین پال</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-danger" type="button">پرداخت نشده</button>
                                              </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>۴۵۲۳۴</th>
                                        <td>ali@gmail.com</td>
                                        <td>زرین پال</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-danger" type="button">پرداخت نشده</button>
                                              </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>۴۵۲۳۴</th>
                                        <td>ali@gmail.com</td>
                                        <td>زرین پال</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-danger" type="button">پرداخت نشده</button>
                                              </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>۴۵۲۳۴</th>
                                        <td>ali@gmail.com</td>
                                        <td>زرین پال</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-danger" type="button">پرداخت نشده</button>
                                              </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>۴۵۲۳۴</th>
                                        <td>ali@gmail.com</td>
                                        <td>زرین پال</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-danger" type="button">پرداخت نشده</button>
                                              </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>۴۵۲۳۴</th>
                                        <td>ali@gmail.com</td>
                                        <td>زرین پال</td>
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-danger" type="button">پرداخت نشده</button>
                                              </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
