@page
@model ProEShop.Web.Pages.IndexModel
@{
    ViewData["Title"] = " صفحه اصلی";

}
<a class="btn btn-primary m-2" asp-page="Admin/Index"> Admin</a>
<br/>
<a class="btn btn-light m-2" asp-page="Seller/Login">Seller Login</a>
<br/>
<a class="btn btn-dark m-2" asp-page="Seller/Register">Seller Register</a>
<a class="btn btn-info m-2" asp-page="SellerPanel/Index">Seller Panel</a>