@page
@model ProEShop.Web.Pages.IndexModel
@{
    ViewData["Title"] = " صفحه اصلی";

}
<a class="btn btn-primary m-2" asp-page="Admin/Index"> Admin</a>
<br/>
<a class="btn btn-success m-2" asp-page="Identity/RegisterLogin">User RegisterLogin</a>
<br />
<a class="btn btn-light m-2" asp-page="Seller/Login">Seller Login</a>
<br/>
<a class="btn btn-dark m-2" asp-page="Seller/Register">Seller Register</a> 
<br />

<a class="btn btn-info m-2" asp-page="SellerPanel/Index">Seller Panel</a><br />
<a class="btn btn-secondary m-2" asp-page="Inventory/Index">Inventory Panel</a>
<br />
<a class="btn btn-secondary m-2" asp-page="Product/Index"
   asp-route-productCode="1"asp-route-slug="Test">Product</a>
